{% extends "_base.html" %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/_/toastui-editor.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/_/toastui-editor-dark.min.css')}}">
{% block css %}

{% endblock %}
{% block title %}HELP{% endblock %}

{% block content %}
    <div id="help" class="section">
        <div class="columns">
            <div class="center">
                <div id="viewer" data-text="{{markdonw}}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static',filename='js/_/toastui-editor-all.min.js')}}"></script>
{% endblock %}