html{
    height: 100%;
    overflow: hidden;
}
body{
    height: 100%;
    overflow: auto;
    background-color: black;
    color: white;
    display: none;
}

.head{
    width: 100%;
    height: 64px;
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 88px);
    overflow: auto;
    padding: 0px;
    margin:  0px;
    align-items: center;
}

.foot{
    display: flex;
    width: 100%;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.tool{
    
}

.hide{
    display: none;
}

.pointer{
    cursor: pointer;
}

.flash{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 4px;
}

.w-100{
    width: 100%;
    margin:inherit;
    padding: inherit;
}
.w-50{
    width: 50%;
    margin:inherit;
    padding: inherit;
}

.h-100{
    height: 100%;
    margin:inherit;
    padding: inherit;
}
.h-50{
    height: 50%;
    margin:inherit;
    padding: inherit;
}

/* スクロールバーの設定 */
/* Chrome / Edge / Safari */
/* bulmaswatch.cssのテーマを引き継ぐ */
::-webkit-scrollbar {
    width:  8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bulma-primary, grey);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bulma-primary-dark, white);
}
::-webkit-scrollbar-track {
    background-color: var(--bulma-background, black);
    border-radius: 4px;
}