.app-layout {
    display: flex;
    height: 100%;
    width: 100%;
}

/* サイドバー */
.sidebar {
    width: 260px;
    min-width: 260px;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    padding: 1rem;
    transition: transform 0.25s ease;
}

.sidebar-header{
    height: 36px;
}

.menu{
    height: calc(100% - 100px);
    overflow: auto;
}

.sidebar-footer{
    height: 64px;
}

#chat-room-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chat-room-list a{
    width: calc(100% - 30px);
    overflow: hidden;
}

#chat-room-list div{
    width: 24px;
    margin-left: 6px;
    cursor: pointer;
}

.side-sub-menu{
    display : block;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 3px;
    width: 240px;
}

.side-sub-menu-list{
    display : block;
    width: 100%;
}

.side-sub-menu-item{
    display : block;
    width: calc(100% - 8px);
    padding:4px;
    margin:4px;
    border-radius: 3px;
}

.side-sub-menu-item:hover{
    color: #839496;
    background-color: #073642;
}

.chat-link-icon{
    border-radius: 3px;
    border:1px solid whitesmoke;
}

.chat-link-icon:hover{
    border-radius: 3px;
    border:1px solid #073642;
}

/* メイン */
.main-content {
    flex: 1;
    min-width: 0;
    padding: 1.5rem;
}

/* ハンバーガー */
.sidebar-toggle {
    display: none;
}

/* 閉じるボタン */
.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}


/* =========================
   モバイル
   ========================= */
@media screen and (max-width: 1023px) {

    .sidebar-toggle {
        display: inline-flex;
        position: fixed;
        top: 64px;
        left: 1rem;
        z-index: 1;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1001;
        transform: translateX(-100%);
    }

    /* 開いた状態 */
    .sidebar.is-open {
        transform: translateX(0);
    }

    .main-content {
        /* height: calc(100% - 88px); */
        width: 100%;
        padding-top: 4rem;
    }

    /* 背景 */
    .sidebar-overlay {
        display: block;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.25s ease;
    }

    .sidebar-overlay.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}


.content-head{
    height: 140px;
}

.content-body{
    height: calc(100% - 140px);
}

#chat-tab-content{
    height: 100%;
}