#form-head{
    height:  64px;
    width:   100%;
    margin:  0px;
    padding: 0px;
}
#form-body{
    height:  calc(100% - 64px);
    width:   100%;
    margin:  0px;
    padding: 0px;
    overflow: auto;
}

#form-foot{
    height:  0px;
    width:   100%;
    margin:  0px;
    padding: 0px;
}

#editor-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#editor{
    overflow: auto;
}

#viewer-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#viewer{
    overflow: auto;

}

#main{
    height: 100%;
    width:  100%;
}
