{% extends "_base.html" %}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/_/toastui-editor.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/_/toastui-editor-dark.min.css')}}">
{% endblock %}
{% block title %}HOME{% endblock %}

{% block content %}
    <div id="form-head" class="columns">

    </div>
    <div id="form-body" class="columns">

        <div id="editor" class="column is-half">
            <!-- Editor -->
        </div>
        <div id="viewer" class="column is-half">
            <!-- Viewer -->
        </div>
    </div>
    <div id="form-foot" class="columns">

    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static',filename='js/_/toastui-editor-all.min.js')}}"></script>
{% endblock %}